*.pyc
*.pyo
*.db
*.sqlite3
*.elmo
.DS_Store
.idea/
.vscode/
build/
dist/
schema-custom.json
npm-debug.log
localsettings.py
node_modules
env/
myvenv/
elm/
venv/
elm-stuff
.ipynb_checkpoints
*.ipynb
main.js
secret_key.txt
