{% extends "base.html" %} 

{% block title %}

{% if status == 'owned' %} 보유 - Snowball 
{% elif status == 'starred' %} 관심 -Snowball 
{% elif status == 'starredorowned' %} 보유|관심 - Snowball 
{% elif status == 'doubtful' %} 데이터의심 - Snowball 
{% elif status == 'bad' %} 마이너스 - Snowball
{% else %} Snowball
{% endif %} 

{% endblock %} 

{% block javascript %}

$(document).ready(function(){ 
    $('#filter_name').keyup(function() { 
        var value = $(this).val(); 
        $('#hidden_filter_name').val(value);
    }); 
    $('#select_filter_option').change(function() { 
        var selected = $('#select_filter_option option:selected').text();
        if (selected.endsWith('(참)')) { 
            $('#filter_option_value').prop('disabled', true); } 
        else { 
            $('#filter_option_value').prop('disabled',false); 
        } 
        console.log(selected); 
    }); 
}); 

{% endblock %} 

{% block content %}
<style>
    #stocks-table thead tr:nth-child(1) {
        padding-top:
    }

    #stocks-table thead tr:nth-child(1) th {
        position: sticky;
        top: 43px;
        padding-top: 0.92857143em;
        background-color: #F9FAFB;
    }
</style>

{% if not current_filter %}
<h3 class="ui header">
    <div class="content">
        Snowball
        <div class="sub header">
            {{ stocks|count }}종목 
            {% if not alt %}
            <a href="{{ url_for('stocks', status=(status or 'rank'), alt='alt1') }}">랭크</a>
            {% elif alt == 'alt1' %}
            <a href="{{ url_for('stocks', status=(status or 'rank')) }}">기본</a>
            {% endif %}
            {% if stat %}
            <div class="ui label">기대수익률(>=15): {{ stat.high_expected_rate }}종목</div>
            <div class="ui label">PBR(
                <=1): {{ stat.low_pbr }}종목</div>
            <div class="ui label">FScore(= 3): {{ stat.fscore }}종목</div>
            <div class="ui label">평균 기대수익률: {{ '%.2f'|format(stat.mean_expected_rate) }}%</div>
            <div class="ui label">평균 저P기대: {{ '%.2f'|format(stat.mean_expected_rate_by_low_pbr) }}%</div>
            <div class="ui label">평균 fROE: {{ '%.2f'|format(stat.mean_future_roe) }}%</div>
            <div class="ui label">평균 분기ROE: {{ '%.2f'|format(stat.mean_qROEs) }}% ({{ stat.qROEs_count }}종목)</div>
            {% endif %}
            </div>
        </div>
</h3>
<form class="ui form" action="{{ url_for('add_stock') }}" method="post">
    <div class="fields">
        <div class="eight wide field">
            <input type="text" name="code" placeholder="종목코드를 입력하세요">
        </div>
        <div class="eight wide field">
            <button class="ui button" type="submit">추가</button>
        </div>
    </div>
</form>
{% endif %} {% if current_filter %}
<div class="ui segment">
    <form class="ui form" action="{{ url_for('stocks_save_filter', filter_id=current_filter._id) }}" method="POST">
        <input type="hidden" name="current_filter_id" value="{{ current_filter._id }}">
        <div class="fields">
            <div class="six wide field">
                <label>필터명</label>
                <input type="text" id="filter_name" placeholder="필터명" name="filter_name" value="{{ current_filter.name }}">
            </div>
            <div class="four wide field">
                <label>&nbsp;</label>
                <button class="ui button" type="submit">필터명 변경</button>
                <a class="ui button red" href="{{ url_for('stocks_remove_filter', filter_id=current_filter._id) }}">필터 삭제</a>
            </div>
        </div>
    </form>
    <div class="ui list">
        {% for filter_option in current_filter.dict_filter_options %}
        <span class="ui label black">
            {{ filter_option.title }} {% if not filter_option.is_boolean %} {{ filter_option.value }}
            <b>{% if filter_option.morethan %} 이상 {% else %} 이하 {% endif %} {% endif %}
            </b> |
            <a href="{{ url_for('stocks_remove_filter_option', filter_id=current_filter._id, filter_option_id=filter_option._id) }}">제거</a>
        </span>
        {% endfor %}
    </div>
    <form class="ui form" action="{{ url_for('stocks_add_filter_option', filter_id=current_filter._id) }}" method="POST">
        <input type="hidden" id="hidden_filter_name" name="filter_name" value="{{ current_filter.name }}">
        <div class="four fields">
            <div class="field">
                <select class="ui fluid dropdown" name="filter_option_key" id="select_filter_option">
                    {% for filter_option in available_filter_options %}
                    <option value="{{ filter_option.key }}">{{ filter_option.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <input type="text" name="filter_option_value" id="filter_option_value" placeholder="값">
            </div>
            <div class="field">
                <select class="ui fluid dropdown" name="filter_option_morethan" id="filter_option_morethan">
                    <option value="morethan">이상</option>
                    <option value="lessthan">이하</option>
                </select>
            </div>
            <div class="field">
                <button class="ui button" type="submit">필터링 옵션 추가</button>
            </div>
        </div>

        <div class="field">
            {% for rank_option in available_rank_options %} {% if rank_option in current_filter.rank_options %}
            <a href="{{ url_for('stocks_remove_rank_option', filter_id=current_filter._id) }}?key={{ rank_option.key }}">
                <span class="ui label blue">{{ rank_option.title }} 랭킹</span>
            </a>
            {% else %}
            <a href="{{ url_for('stocks_add_rank_option', filter_id=current_filter._id) }}?key={{ rank_option.key }}">
                <span class="ui label">{{ rank_option.title }} 랭킹</span>
            </a>
            {% endif %} {% endfor %}
        </div>
        <div>
            {{ stocks|count }}종목
            {% if not alt %}
            <a href="{{ url_for('stocks', status='filter', alt='alt1') }}?filter_id={{ current_filter._id }}">랭크</a>
            {% elif alt == 'alt1' %}
            <a href="{{ url_for('stocks', status='filter') }}?filter_id={{ current_filter._id }}">기본</a>
            {% endif %}
        </div>
    </form>
</div>
<br> {% endif %}
<div class="ui grid">
    <div class="sixteen wide column">
        <table class="ui very basic compact table" id="stocks-table">
            <thead>
                <tr>
                    <th>종목코드</th>
                    <th>
                        <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=title&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">종목명</a>
                        {% if order_by == 'title' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </th>
                    <th>
                        <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=current_price&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">현재가</a>
                        {% if order_by == 'current_price' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                    </th>
                    {% if not alt %}
                        {% if not current_filter.rank_options %}
                        <th>
                            변동
                        </th>
                        {% endif %}
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=agg_rank&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">시총</a>
                            {% if order_by == 'agg_rank' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=per&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">PER</a>
                            {% if order_by == 'per' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=pbr&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">PBR</a>
                            {% if order_by == 'pbr' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=dividend_rate&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">배당</a>
                            {% if order_by == 'dividend_rate' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=future_roe&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">fROE</a>
                            {% if order_by == 'future_roe' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=expected_rate&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">기대</a>
                            {% if order_by == 'expected_rate' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=expected_rate_by_current_pbr&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">현P기</a>
                            {% if order_by == 'expected_rate_by_current_pbr' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=expected_rate_by_low_pbr&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">저P기</a>
                            {% if order_by == 'expected_rate_by_low_pbr' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            FScore
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=last_year_gpa&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">GPA</a>
                            {% if order_by == 'last_year_gpa' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                    {% elif alt == 'alt1' %}
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_per&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">PER</a>
                            {% if order_by == 'rank_per' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_pbr&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">PBR</a>
                            {% if order_by == 'rank_pbr' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th> 
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_last_year_gpa&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">GPA</a>
                            {% if order_by == 'rank_last_year_gpa' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>    
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_dividend&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">배당</a>
                            {% if order_by == 'rank_dividend' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_beta&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">베타</a>
                            {% if order_by == 'rank_beta' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_month1&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">1M</a>
                            {% if order_by == 'rank_month1' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}                                
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_month3&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">3M</a>
                            {% if order_by == 'rank_month3' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}                                
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_month6&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">6M</a>
                            {% if order_by == 'rank_month6' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}                                
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_month12&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">12M</a>
                            {% if order_by == 'rank_month12' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}                                
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_relative_earning_rate&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">상대</a>
                            {% if order_by == 'rank_relative_earning_rate' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}                                
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_foreigner_weight&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">외국</a>
                            {% if order_by == 'rank_foreigner_weight' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            <a href="{{ url_for('stocks', status=status, alt=alt) }}?order_by=rank_floating_rate&ordering={% if ordering == 'asc' %}desc{% else %}asc{% endif %}{% if current_filter %}&filter_id={{ current_filter._id }}{% endif %}">유동</a>
                            {% if order_by == 'rank_floating_rate' %}{% if ordering == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
                        </th>
                        <th>
                            기대
                        </th>
                        <th>
                            저P기
                        </th>
                    {% endif %}
                    <th>
                    </th>
                    {% if current_filter.rank_options %}
                    <th>
                        통합
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.code }}</td>
                    <td>
                        <a href="{{ url_for('stock', code=stock.code) }}">{{ stock.title }}</a>
                    </td>
                    <td class="{{ stock.price_color }}">{{ stock.price_arrow }} {{ stock.current_price|round|int }}</td>
                    {% if not alt %}
                        {% if not current_filter.rank_options %}
                        <td class="{{ stock.price_color }}">{{ stock.price_sign }}{{ '%.2f'|format(stock.rate_diff) }}%</td>
                        {% endif %}
                        <td>{{ stock.agg_rank }}</td>
                        <td>{{ stock.per }} {% if current_filter.rank_options %} ({{ stock.rank_per }}) {% endif %}
                        </td>
                        <td>{{ stock.pbr }} {% if current_filter.rank_options %} ({{ stock.rank_pbr }}) {% endif %}
                        </td>
                        <td>
                            {{ stock.dividend_rate }} {% if current_filter.rank_options %} ({{ stock.rank_dividend }}) {% endif %}
                        </td>
                        <td>
                            <div class="ui label">
                                {{ '%.2f'|format(stock.future_roe or 0) }} {% if stock.calculated_roe_count
                                < 4 %} &nbsp; ({{stock.calculated_roe_count}}/4)
                                    {% endif %} </div>
                                    {% if 'adjusted_future_roe' in stock and stock['adjusted_future_roe']|float > 0 %}
                                    <div class="ui label yellow">{{ '%.2f'|format(stock.adjusted_future_roe or 0) }}</div>
                                    {% endif %}
                        </td>
                        <td>
                            {% if stock.calculable %} {{ '%.2f'|format(stock.expected_rate or 0) }} {% endif %}
                        </td>
                        <td>
                            {% if stock.calculable %} {% if stock.is_five_years_record_low %}
                            <span class="ui label black">{% endif %} {{ '%.2f'|format(stock.expected_rate_by_current_pbr or 0) }} {% if stock.low_pbr > stock.pbr
                                %}</span>{% endif %} {% endif %}
                        </td>
                        <td>
                            {% if stock.calculable %} {% if stock.calculable_pbr_count
                            < 4 %} <span class="ui label gray">
                                {% endif %} {{ '%.2f'|format(stock.expected_rate_by_low_pbr or 0) }} {% if stock.calculable_pbr_count
                                <
                                    4 %} </span>
                                    {% endif %} {% endif %}
                        </td>
                        <td>{{ stock.latest_fscore }}</td>
                        <td>{% if stock.rank_last_year_gpa %}{{ stock.rank_last_year_gpa }}{% endif %}</td>
                    {% elif alt == 'alt1' %}
                        <td>{{ stock.rank_per }}</td>
                        <td>{{ stock.rank_pbr }}</td>
                        <td>{{ stock.rank_last_year_gpa }}</td>
                        <td>{{ stock.rank_dividend }}</td>
                        <td>{{ stock.rank_beta }}</td>
                        <td>{{ stock.rank_month1 }}</td>
                        <td>{{ stock.rank_month3 }}</td>
                        <td>{{ stock.rank_month6 }}</td>
                        <td>{{ stock.rank_month12 }}</td>
                        <td>{{ stock.rank_relative_earning_rate }}</td>
                        <td>{{ stock.rank_foreigner_weight }}</td>
                        <td>{{ stock.rank_floating_rate }}</td>
                        <td>{% if stock.calculable %} {{ '%.2f'|format(stock.expected_rate or 0) }} {% endif %}</td>
                        <td>{% if stock.calculable %} {{ '%.2f'|format(stock.expected_rate_by_low_pbr or 0) }} {% endif %}</td>
                    {% endif %}
                    <td>
                        {% if stock.owned %}
                        <i class="icon heart red"></i>
                        {% elif stock.starred %}
                        <i class="icon star yellow"></i>
                        {% endif %} {% if stock.has_note %}
                        <i class="icon file alternate"></i>
                        {% endif %} {% if stock.doubtful %}
                        <i class="icon flag red"></i>
                        {% endif %}
                    </td>
                    {% if current_filter.rank_options %}
                    <td>{{ stock.total_rank }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% endblock %}